[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "llama-manager/nLogger"]
	path = llama-manager/nLogger
	url = https://github.com/herrbasan/nLogger.git
[submodule "nui_wc2"]
	path = nui_wc2
	url = https://github.com/herrbasan/nui_wc2.git
